* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 84px;
    background: linear-gradient(90deg,
        #8C1717 0%,
        #DC0000 50%,
        #8C1717 100%);
    border-bottom: 3px solid black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header > * {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

header .current {
    position: relative;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo span {
    font-size: 40px;
    text-shadow: 3px 4px 1px #000000;
}

.logo img {
    width: 87px;
    filter: drop-shadow(0px 2px 14px black);
}

/* MainInformation */

.MainInformation {
    display: flex;
    height: calc( 100vh - 84px );
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar .avatarName {
    margin-top: 40px;
    font-size: 3em;
}

.avatar img {
    width: 340px;
    height: 340px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px 15px rgba(255, 0, 0, 0.3);
    border: 2px solid #FF474A;
    object-fit: cover;
    object-position: left;
}

.informationList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 35px;
    width: 22vmax;
}

.informationList li {
    /*margin-top: 40px;*/
    font-size: 30px;
    text-align: left;
    list-style: none;
}

.informationList li:first-child,
.informationList li:first-child + li {
    margin-bottom: 40px;
    font-size: 40px;
}

.countryFlag {
    width: 3vmax;
}

.redText {
    color: #FF474A;
}

.photos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 850px;
    height: 660px;
}

.photos .photoRubin {
    position: absolute;
    left: -2%;
    top: 0;
    width: 105%;
    transition: 1s;
    z-index: 10;
}

.photos:hover .photoRubin {
    z-index: 0;
    opacity: 0;
}

.photos .imgWrap {
    position: relative;
    z-index: 1;
}

.photos .imgWrap .blur {
    position: absolute;
    width: 96%;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%) !important;
    opacity: 0;
    filter: blur(28px);
    z-index: -1;
    transition: 1s;
}

.photos .photo {
    display: block;
    width: initial;
    height: 8vmax;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    z-index: 2;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

.photos .photo:hover {
    height: 20vmax;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
}

.photos .photo:hover + .blur {
    opacity: 1;
}

.photos .row1,
.photos .row2,
.photos .row3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.photos .row2 {
    width: 60%;
}

.photos .row3 {
    width: 30%;
}

.photos .row1 > div:first-child img {
    transform: translate(0px, 70px) rotate(-33deg);
}

.photos .row1 > div:last-child img {
    transform: translate(0px, 70px) rotate(33deg);
}

.photos:hover .row1 div:first-child img,
.photos:hover .row1 div:last-child img {
    transform: translate(0px, 0px) rotate(0deg);
}


